.container {
  width: 100vw;
  height: 100vh;
  background-color: #1b1b1f;
  color: #fff;

  .content {
    display: flex;

    width: 90%;
    max-width: 1200px;
    align-content: center;
    justify-content: space-around;
    margin: 0px auto;

    section {
      margin-top: 50px;

      div img {
        padding: 80px 0px;
      }

      main {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 50vh;

        h2 {
          width: 426px;
          height: 162px;

          font-family: "Archivo", sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 54px;
          line-height: 54px;
        }

        span {
          width: 331px;
          height: 80px;

          font-family: "Inter", sans-serif;
          font-weight: medium;
          font-size: 20px;
          line-height: 30px;
        }

        a {
          width: 292px;
          height: 80px;
          border: none;
          outline: none;
          color: #fff;

          cursor: pointer;
          background: #dc1637;
          text-decoration: none;

          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
