<div class="container">
  <div class="content">
    <section>
      <div>
        <img src="../../../assets/logotipo.svg"
          alt="logo da empresa, que tem as seguinte letras rentx. A cor dessa marca está em cinza e o x está em vermelho">
      </div>
      <main>
        <h2>
          Alugue um <br />
          carro de maneira <br />
          simples e fácil
        </h2>

        <span>
          Vários modelos para você dirigir <br />
          seguro, com conforto e segurança.
        </span>

        <a href="/">Começar agora</a>
      </main>
    </section>

    <section class="content-img">
      <div>
        <img src="../../../assets/background.png" alt="">
      </div>
    </section>
  </div>
</div>
