<div class="container">
  <nav>
    <header>
      <a routerLink="">
        <img src="../../../assets/icon/union.svg"
          alt="icone se encontra em branco, corresponde um icone de fechamento (como se fosse um simbolo de X)">
      </a>
    </header>
  </nav>

  <main>
    <div>
      <a routerLink="home">
        <img src="../../../assets/icon/home.svg" alt="icone de casa, tela principal da aplicação">
      </a>
    </div>
    <div>
      <a routerLink="/" disabled="true">
        <img src="../../../assets/icon/carros.svg" alt="icone de carro, tela para marca os dias que usar o carro">
      </a>
    </div>
    <div>
      <a routerLink="/" disabled="true">
        <img src="../../../assets/icon/Perfil.svg" alt="icone de perfil, tela onde se encontra os seus dados">
      </a>
    </div>
  </main>
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>
